@model EmployeeLeaveManagementSystem_WebApplication.Models.Admin

@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 Admin <span class="primary">Login</span> </span> </h2>

   </div>
</div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <b>Admin Login</b>
        </div>


        @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

    <form>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.AdminUserName, new { htmlAttributes = new { @class = "fadeIn second", @placeholder = "Enter UserName" } })
        @Html.ValidationMessageFor(model => model.AdminUserName, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "fadeIn third", @placeholder = "Enter Password" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        @ViewBag.res<br>

        <input type="submit" class="fadeIn fourth" value="Log In" />

    </form>
        
        }



        <!-- Login Form -->
        @*<form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>*@




    </div>
</div>


